{% extends 'layouts/main.twig' %}

{% block content %}

    <section class="layout-pt-md layout-pb-lg">
        <div class="container">
            <div class="row y-gap-30">
                <div class="col-xl-12 col-lg-12">
                    <div class="row y-gap-10 items-center justify-between" >
                        <div class="card-hotel-header">
                            <h1 class="title-label">Room categories</h1>
                            <ul class="nav nav-tabs tabs-hotel">
                                <li class="nav-item" style="margin-right:30px!important;">
                                    <a href="/vi" id="des-tab" class="active">Điểm đến</a>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="mt-30"></div>

                    <div class="row y-gap-30">

                        {% for room in rooms %}
                            <div class="col-12">
                                <div class="border-top-light pt-30">
                                    <div class="row x-gap-20 y-gap-20">
                                        <div class="col-md-auto">
                                            <div class="cardImage ratio ratio-1:1 w-360 md:w-1/1 rounded-4">
                                                <div class="cardImage__content">
                                                    <img src="/images/{{ room.resort_id }}/{{ room.image }}" alt="{{ room.image }}" class="img-fluid w-100 h-100">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md">
                                                <h3 class="text-24 lh-16 fw-500 " >
                                                    {{ room.room_type }}<br class="lg:d-none">
                                                </h3>
                                            <div class="row x-gap-10 y-gap-10 items-center pt-10">
                                                <div class="col-auto">
                                                    <p class="text-18">Max Occupancy: {{ room.max_occupancy }}</p>
                                                </div>
                                            </div>

                                            <div class="text-14 text-green-2 lh-15 mt-10">
                                                <div class="fw-500">Description: {{ room.description }} </div>
                                            </div>

                                            <div class="row x-gap-10 y-gap-10 pt-20">

                                                <div class="col-auto">
                                                    <div class="border-light rounded-100 py-5 px-20 text-14 lh-14">Breakfast</div>
                                                </div>

                                                <div class="col-auto">
                                                    <div class="border-light rounded-100 py-5 px-20 text-14 lh-14">WiFi</div>
                                                </div>

                                                <div class="col-auto">
                                                    <div class="border-light rounded-100 py-5 px-20 text-14 lh-14">Spa</div>
                                                </div>

                                                <div class="col-auto">
                                                    <div class="border-light rounded-100 py-5 px-20 text-14 lh-14">Bar</div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-auto text-right md:text-left">
                                            <div class="row x-gap-10 y-gap-10 justify-end items-center md:justify-start">
                                            </div>

                                            <div class="">
                                                <div class="text-14 text-light-1 mt-50 md:mt-20">Price from only</div>
                                                <div class="text-22 lh-12 fw-600 mt-5">{{ room.price_per_night | number_format(0, ',', '.') }} VND</div>
                                                <div class="text-14 text-light-1 mt-5">One Night</div>


                                                <a href="#" class="button -md -dark-1 bg-blue-1 text-white mt-24">
                                                    BooK Now
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}