{% extends 'layouts/main.twig' %}

{% block content %}
    <div class="content-page">
        <div class="content">

            <!-- Start container-fluid -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div>
                            <h4 class="header-title mb-3">Sửa Thông Tin Resort</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form method="post" action="" class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">ResortName</label>
                            <div class="col-md-10">
                                <input name="resort_name" type="text" class="form-control" value="{{ resort.resort_name }}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Location</label>
                            <div class="col-md-10">
                                <input name="location" type="text" class="form-control" value="{{ resort.location }}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Description</label>
                            <div class="col-md-10">
                                <input name="description" type="text" class="form-control" value="{{ resort.description }}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Rating</label>
                            <div class="col-md-10">
                                <input name="rating" type="text" class="form-control" value="{{ resort.rating }}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Price Per Night</label>
                            <div class="col-md-10">
                                <input name="price_per_night" type="text" class="form-control" value="{{ resort.price_per_night }}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Image</label>
                            <div class="col-md-10">
                                <input name="image" type="text" class="form-control" value="{{ resort.image }}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <img src="/images/{{ resort.id }}/{{ resort.image }}" alt="{{ resort.image }}" height="600" width="800">
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary me-2">Xác nhận</button>
                            <a href="/admin/resort" class="btn btn-secondary">Hủy</a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container-fluid -->

    </div>
    <!-- end content -->
{% endblock %}