{% extends 'layouts/main.twig' %}

{% block content %}
    <div class="content-page">
        <div class="content">

            <!-- Start container-fluid -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div>
                            <h4 class="header-title mb-3">Xem Chi Tiết Phòng</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form method="post" class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Resort_id</label>
                            <div class="col-md-10">
                                <input name="resort_id" type="text" class="form-control" value="{{ room.resort_id }}" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Room Type</label>
                            <div class="col-md-10">
                                <input name="room_type" type="text" class="form-control" value="{{ room.room_type }}" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Price Per Night</label>
                            <div class="col-md-10">
                                <input name="price_per_night" type="text" class="form-control" value="{{ room.price_per_night }}" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Availability</label>
                            <div class="col-md-10">
                                <input name="availability" type="text" class="form-control" value="{{ room.availability }}" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Max Occupancy</label>
                            <div class="col-md-10">
                                <input name="max_occupancy" type="text" class="form-control" value="{{ room.max_occupancy }}" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Description</label>
                            <div class="col-md-10">
                                <input name="description" type="text" class="form-control" value="{{ room.description }}" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Image</label>
                            <div class="col-md-10">
                                <input name="image" type="text" class="form-control" value="{{ room.image }}" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <img src="/images/{{ room.resort_id }}/{{ room.image }}" alt="{{ room.image }}" height="600" width="800">
                        </div>
                        <div class="text-center mt-3">
                            <form method="post" action="" class="form-horizontal">
                                <button type="submit"> Chỉnh sửa</button>
                            </form>
                            <button type="submit"><a href="/admin/room">Quay lại</a></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container-fluid -->

    </div>
    <!-- end content -->
{% endblock %}